:root {
  font-family: 'Fira Code', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: rgb(18,18,18);
  color: #fff;

  --primary: #1b0240;
  --secondary: #0F3460;
  --terceary: #533483;
  --red: #893cfc;
  --soft-black:rgb(18,18,18);
  --black: #111;
  --gray: #222222;
  --white: #fefefe;
  --soft-white: rgb(212 212 216);
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
